[submodule "lib/agda-stdlib"]
	path = lib/agda-stdlib
	url = https://github.com/agda/agda-stdlib.git
[submodule "lib/cubical"]
	path = lib/cubical
	url = https://github.com/agda/cubical.git
[submodule "paper-2021-language-derivatives"]
	path = paper-2021-language-derivatives
	url = https://github.com/noughtmare/paper-2021-language-derivatives
  branch = fix
